[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wagtail = "*"
gunicorn = "*"
"psycopg2" = "*"
dj-database-url = "*"
boto = "*"
arrow = "*"
"oauth2client" = ">=1.5,<2.0"
google-api-python-client = "*"
markdown = "*"
django-storages = "*"
django-compressor = "*"
pyopenssl = "*"
boto3 = "*"

[dev-packages]
