{% extends "base.html" %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

<div class="wrapper row4">
  <div role="main" class="container">
    <div id="homepage">
      <h2><span>Alle aktiviteter i {{ month }}</span></h2>
      <div class="res-table">
        <table>
          <thead>
            <tr>
              <th>Tidspunkt</th>
              <th>Sted</th>
              <th>Tittel</th>
              <th>Beskrivelse</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for event in events %}
            <tr>
              <td>
                {{ event.start|date:"l" }} {{ event.start|date:"j" }}.<br>
                {% if event.full_day %}
                  Full dag
                {% else %}
                  {{ event.start|time:"TIME_FORMAT" }} - {{ event.end|time:"TIME_FORMAT" }}
                {% endif %}
              </td>
              <td><a href="{{ event.centre.url }}">{{ event.centre.title }}</a></td>
              <td><a href="{{ event.event_page.url }}">{{ event.event_page.title }}</a></td>
              <td>{{ event.event_page.body }}</td>
              <td><a href="{{ event.event_page.google_cal_url }}"><span class="fa fa-calendar-plus-o fa-2x imgl"></span></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="clear"></div>
    <!-- Ensure That Everything Has Been Cleared -->
  </div>
  <!-- End class=container -->
</div>
<!-- End wrapper row4 -->
{% endblock content %}
