{% load homepage_tags static wagtailuserbar wagtailcore_tags wagtailimages_tags %}

{% get_site_root as site_root %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}KTLBS - {{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
  <meta name="description" content="Karma Tashi Ling buddhistsenter">
  <meta name="keywords" content="buddha buddhisme meditasjon tibetansk vajrayana mahayana lama rinpoche dharma sangha retreat tempel vipasana shamata">
  <meta name="author" content="Karma Tashi Ling buddhistsenter">
  <meta name="dcterms.rightsHolder" content="Karma Tashi Ling buddhistsenter">
  <meta name="dcterms.dateCopyrighted" content="2016">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  {# Global stylesheets #}
  <link rel="stylesheet" type="text/css" href="{% static 'css/layout/styles/main.css' %}" media="all">
  <link rel="stylesheet" type="text/css" href="{% static 'css/layout/styles/mediaqueries.css' %}" media="all">

  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" href="{% static 'images/favicon-32x32.png' %}" sizes="32x32">
  <link rel="icon" type="image/png" href="{% static 'images/favicon-16x16.png' %}" sizes="16x16">
  <link rel="manifest" href="{% static 'images/manifest.json' %}">
  <link rel="mask-icon" href="{% static 'images/safari-pinned-tab.svg' %}" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">

  {% block extra_css %}
  {# Override this in templates to add extra stylesheets #}
  {% endblock %}
</head>

<body id="{% block body_id %}top{% endblock %}" class="{% block body_class %}{% endblock %}">

{% wagtailuserbar %}

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- TOPBAR -->
<div class="wrapper row0">
  <div id="topbar">
    <div id="slidepanel" class="clear">
      <div class="fl_left">
        <form action="{% url 'search' %}" class="block clear" method="get">
          <input type="text" value="" name="query" size="35"/>
          <button class="button" type="submit"><span class="fa fa-search"></span></button>
        </form>
      </div>
      <div class="fl_right">
        <ul class="social">
          <li><a class="socico-facebook" title="Facebook" href="https://www.facebook.com/KarmaTL/"><span class="fa fa-facebook"><em>Facebook</em></span></a></li>
          <li><a class="socico-youtube" title="Youtube" href="https://www.youtube.com/user/KarmaTashiLing"><span class="fa fa-youtube"><em>Youtube</em></span></a></li>
          {# <li><a class="socico-twitter" title="Twitter" href="#"><span class="fa fa-twitter"><em>Twitter</em></span></a></li> #}
          {# <li><a class="socico-dribble" title="Dribble" href="#"><span class="fa fa-dribbble"><em>Dribble</em></span></a></li> #}
          {# <li><a class="socico-linkedin" title="LinkedIn" href="#"><span class="fa fa-linkedin"><em>LinkedIn</em></span></a></li> #}
          {# <li><a class="socico-google-plus" title="Google+" href="#"><span class="fa fa-google-plus"><em>Google+</em></span></a></li> #}
          {# <li><a class="socico-skype" title="Skype" href="#"><span class="fa fa-skype"><em>Skype</em></span></a></li> #}
        </ul>
      </div>
    </div>
    <!-- TOP BAR SLIDER BUTTON -->
    <div id="openpanel"><a id="slideit" class="fa fa-chevron-down" href="#slidepanel"></a><a id="closeit" class="fa fa-chevron-up" style="display: block;" href="#slidepanel"></a></div>
  </div>
</div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- HEADER -->
  <div class="wrapper row1">
    <header role="banner" id="header" class="clear">
      <div class="fl_left">
        <h1><a href="{% pageurl site_root %}">Karma Tashi Ling buddhistsamfunn</a></h1>
        <p class="times">Norges eldste buddhistsamfunn for tibetansk buddhisme</p>
      </div>
      <div class="fl_right right">
        <ul class="meta nospace inline">
          <li><span class="fa fa-phone"></span>+47 22 61 28 84</li>
          <li><span class="fa fa-envelope-o"></span><a href="mailto:post@ktl.no">post@ktl.no</a></li>
        </ul>
      </div>
    </header>
  </div>

  {% block menu %}
    {% get_site_root as site_root %}
    {% top_menu parent=site_root calling_page=self %}
  {% endblock %}

  {% block content %}{% endblock %}

  <!-- ######################################### -->
  <!-- ######################################### -->
  <!-- FOOTER -->
  <div class="wrapper row6">
    <footer role="contentinfo" id="p-footer" class="clear center">
      <!-- BLOCK 1 -->
      <div class="col-1-5 first">
        <div class="block push30"><span class="cc circle fa fa-map-marker"></span></div>
        <h6 class="push20">Adresse</h6>
        <address>
        Bjørnåsveien 124,<br>
        1272 Oslo
        </address>
      </div>
      <!-- BLOCK 2 -->
      <div class="col-1-5">
        <div class="block push30"><span class="cc circle fa fa-phone"></span></div>
        <h6 class="push20">Telefon</h6>
        <p class="nospace">+47 22 61 28 84</p>
      </div>
      <!-- BLOCK 3 -->
      <div class="col-1-5">
        <div class="block push30"><span class="cc circle fa fa-bank"></span></div>
        <h6 class="push20">Kontonummer</h6>
        <p class="nospace">1644.02.22548</p>
      </div>
      <!-- BLOCK 4 -->
      <div class="col-1-5">
        <div class="block push30"><span class="cc circle fa fa-users"></span></div>
        <h6 class="push20">Org.nummer</h6>
        <p class="nospace">983 389 740 MVA</p>
      </div>
      <!-- BLOCK 5 -->
      <div class="col-1-5">
        <div class="block push30"><span class="cc circle fa fa-envelope-o"></span></div>
        <h6 class="push20">Epost</h6>
        <p class="nospace"><a href="mailto:post@ktl.no">post@ktl.no</a></p>
      </div>
      <!-- <1!-- BLOCK 6 --1> -->
      <!-- <div class="col-2-5"> -->
      <!--   <div class="block push30"><span class="cc circle fa fa-search"></span></div> -->
      <!--   <h6 class="push20">Søk</h6> -->
      <!--   <form action="{% url 'search' %}" method="get"> -->
      <!--     <input type="text" value="" name="query" size="35"/> -->
      <!--     <input type="submit" value="Søk"> -->
      <!--   </form> -->
      <!-- </div> -->
    </footer>
    <!-- COPYRIGHT -->
    <div id="copyright" class="clear">
      <div class="fl_left">Copyright &copy; 2016 <a href="index.html">Book Of Wisdom</a>. All Rights Reserved</div>
    </div>
  </div>
  <!-- END FOOTER -->
  <!-- BACK TO TOP BUTTON -->
  <a href="#top" id="scrolltotop" title="Back To Top"><span class="fa fa-arrow-up fa-2x"></span></a>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  {# Global javascript #}
  <script src="{% static 'css/layout/scripts/jquery-latest.min.js' %}"></script>
  <script src="{% static 'css/layout/scripts/jquery-ui.min.js' %}"></script>
  <!-- Media -->
  <script src="{% static 'css/layout/scripts/fitvids/jquery.fitvids.js' %}"></script>
  <!-- Slider -->
  <script src="{% static 'css/layout/scripts/flexslider/jquery.flexslider-min.js' %}"></script>
  <script src="{% static 'css/layout/scripts/flexslider/jquery.flexslider-setup.js' %}"></script>
  <!-- Modernizr.inputtypes -->
  <script src="{% static 'js/modernizr-custom.js' %}"></script>
  <!-- Custom Settings -->
  <script src="{% static 'css/layout/scripts/custom.js' %}"></script>

  {% block extra_js %}
  {# Override this in templates to add extra javascript #}
  {% endblock %}
</body>
</html>
