{% load wagtailimages_tags %}


{% if slider_items %}
  <div class="wrapper full_width">
    <div class="flex-container">
      <div class="flexslider flex-homepage">
        <ul class="flex-slides">
          {% for slider_item in slider_items %}
            {# Carousel image - first store image as a variable in order to construct an image tag with a title applied (title is used by bxslider js to construct the caption) #}
            {% image slider_item.image fill-2048x500 as slider_image %}
            <li><img {{ slider_image.attrs }}"></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endif %}
