{% load wagtailimages_tags %}


{% if intro_box_items %}
<div class="wrapper row0">
  <div id="intro" class="clear">
    <ul class="nospace">
      {% for box_item in intro_box_items %}
      <li>
        <a class="block" href="{{ box_item.link }}">
          <div class="block push30"><span class="cc circle fa {{ box_item.icon }}"></span></div>
          <h6 class="push10">{{ box_item.header }}</h6>
          <p class="nospace">{{ box_item.subtitle }}</p>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}
