{% load wagtailimages_tags %}

{% if content %}
      {% for stream_item in content %}
        {% if stream_item.block_type == 'quicklinks' %}
          <div class="wrapper row0">
            <div id="intro" class="clear">
              {{ stream_item }}
            </div>
          </div>
        {% elif stream_item.block_type == 'imageslider' %}
          <div class="wrapper full_width">
            <div class="flex-container">
              <div class="flexslider flex-homepage">
                {{ stream_item }}
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
{% else %}
  <div class="wrapper row3">
    <div id="pageintro" class="clear">
      <div class="fl_left">
        <h2 class="nospace">{{ self.title }}</h2>
      </div>
      {# <nav class="fl_right breadcrumb"> #}
      {#   <ul> #}
      {#     <li><a href="../index.html" title="Home">Home</a></li> #}
      {#     <li><a href="#" title="Pages">Pages</a></li> #}
      {#     <li><a href="sidebar-right.html" title="Sidebar Right">Sidebar Right</a></li> #}
      {#   </ul> #}
      {# </nav> #}
    </div>
  </div>
{% endif %}

