{% load wagtailcore_tags %}
<h2><span>{{ title }}</span></h2>
<ul class="nospace spacing push50">
{% for event in events %}
  <li class="clear">
    <time datetime="{{ event.start|date:"c" }}" class="date-icon"><strong>{{ event.start|date:"b" }}</strong> <em>{{ event.start|date:"j" }}</em></time>
    <div>
      <p class="nospace times font-medium">
        <a href="{{ event.event_page.url }}">
          {{ event.event_page.title }}
        </a>
      </p>
      <p class="nospace">
        {% if not event.full_day %}
          {{ event.start|time:"TIME_FORMAT" }} -
          {{ event.end|time:"TIME_FORMAT" }}
        {% endif %}
        <span class="fa fa-map-marker"></span>
        {{ event.centre.code }}
      </p>
    </div>
  </li>
{% endfor %}
</ul>
