<section class="clear">
  <h2><span>Aktuelt</span></h2>
  <div class="col-1-2 first"><img class="boxholder" src="images/demo/400x240dk.gif" alt=""></div>
  <div class="col-1-2">
    <h3>Lorem Ipsum Dolor Sit Amet Consec Adipiscing.</h3>
    <p>Curabitur eget elit sit amet purus congue lacinia. Donec facilisis volutpat ligula nec egestas aliquam malesuada.</p>
    <ul class="list indent tick">
      <li>Lorem ipsum dolor sit amet, consectetur.</li>
      <li>Lorem ipsum dolor sit amet, consectetur adipiscing.</li>
      <li>Lorem ipsum dolor sit amet, consectetur vivamus.</li>
    </ul>
    <p>Lectus sed vestibulum sollicitudin, mi urna consequat velit.</p>
    <p><a href="#" class="button small red">Read More &raquo;</a></p>
  </div>
</section>
<!-- ################################################################################################ -->
<div class="clear"></div>
<!-- ################################################################################################ -->
<section class="clear">
  <div class="col-1-3 first">
    hei
  </div>
  <article class="blog-post-excerpt col-1-3 first">
    <div class="post-content">
      <div class="post-image push20"><img class="boxholder" src="images/demo/400x240dk.gif" alt=""></div>
      <h3 class="blog-post-title"><a href="#">Fusce Quis Feugiat</a></h3>
      <div class="blog-post-meta">
        <ul>
          <li class="blog-post-date">
            <time datetime="2000-04-06T08:15+00:00">6<sup>th</sup> April 2000</time>
          </li>
          <li class="blog-post-author">By <a href="#">admin</a></li>
        </ul>
      </div>
      <p>Curabitur eget elit sit amet purus congue lacinia. Donec facilisis volutpat ligula nec egestas. Aliquam malesuada, lectus sed vestibulum sollicitudin, mi urna consequat velit, id ullamcorper risus lacus ut ante. Donec sed ultrices eros. Nulla facilisi. Aliquam purus urna, porta non faucibus nec&hellip;</p>
      <p><a href="#" class="button small red">Read More &raquo;</a></p>
    </div>
  </article>
  <article class="blog-post-excerpt col-1-3">
    <div class="post-content">
      <div class="post-image push20"><img class="boxholder" src="images/demo/400x240dk.gif" alt=""></div>
      <h3 class="blog-post-title"><a href="#">Fusce Quis Feugiat</a></h3>
      <div class="blog-post-meta">
        <ul>
          <li class="blog-post-date">
            <time datetime="2000-04-06T08:15+00:00">6<sup>th</sup> April 2000</time>
          </li>
          <li class="blog-post-author">By <a href="#">admin</a></li>
        </ul>
      </div>
      <p>Curabitur eget elit sit amet purus congue lacinia. Donec facilisis volutpat ligula nec egestas. Aliquam malesuada, lectus sed vestibulum sollicitudin, mi urna consequat velit, id ullamcorper risus lacus ut ante. Donec sed ultrices eros. Nulla facilisi. Aliquam purus urna, porta non faucibus nec&hellip;</p>
      <p><a href="#" class="button small red">Read More &raquo;</a></p>
    </div>
  </article>
  <div class="clear"></div>
</section>
<!-- ################################################################################################ -->
</div>
